.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: coral;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: white;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    color: white;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: turquoise;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #4fa6a3;
    color: black;
}